<h1><%= @owner.name %></h1></br>
Email: <%= @owner.email %></br>
Phone Number: <%= @owner.phone_number %></br>
</br>
<% @pets.each do |pet| %>
    <%= link_to pet.name, owner_pet_path(@owner, pet) %></br>
<% end %>
</br>
<%= link_to "Edit Owner", edit_owner_path(@owner) %></br>
<%= link_to "Create new pet", new_owner_pet_path(@owner, @pet) %></br>