<h1>Appointments</h1>
<%= month_calendar(events: @appointments) do |date, appointments| %>
  <%= date.day %>

    <% @appointments.each do |appointment| %>
        <div>
            <%= appointment.appointment_time %>
            <%= appointment.vaccination_records %>
            <%= appointment.haircut_type %>
            <%= appointment.pet_id %>
            <%= appointment.groomer_id %>
        </div>
    <% end %>
<% end %>