<h1>Appointments</h1>
<%= week_calendar(number_of_weeks: 2) do |date| %>
  <%= date %>
<% end %>
<% @appointments.each do |appointment| %>
    <%= appointment.appointment_time %>
    <%= appointment.vaccination_records %>
    <%= appointment.haircut_type %>
    <%= appointment.pet_id %>
    <%= appointment.groomer_id %>
<% end %>