<h1>Appointments</h1>

    <% @appointments.each do |appointment| %>
        <div>
            <%= appointment.appointment_time %>
        </div>
    <% end %>
<%= link_to "Create a new appointment", new_appointment_path %>
    <%= month_calendar events: @appointments do |date, appointments| %>
    <%= date.day %>
    <% appointments.each do |app| %>
        <div>
            <%= app.appointment_time %>
        </div>
    <% end %>

<% end %>