<h1>Appointments</h1>


<%= link_to "New Customer", new_owner_path %></br>
<%= link_to "Returning Customer", new_groomer_appointment_path %>
    <%= month_calendar events: @appointments do |date, appointments| %>
    <%= date.day %>
    <% appointments.each do |app| %>
        <div>
            <%= link_to app.time.strftime("%l:%M %p"), groomer_appointment_path(@groomer, app) %>
        </div>
    <% end %>

<% end %>