<!DOCTYPE html>
<html>
  <head>
    <title>PetGroomersApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if logged_in? %>
      <%= link_to "Calendar", appointments_path %></br>
      <%= link_to "Logout", logout_path, method: 'delete' %></br>
    <% else %>
      <%= link_to "Register", register_path %></br>
      <%= link_to "Sign In/Sign Up With Github", '/auth/github' %></br>
      <%= link_to "Login", login_path %></br>
    <% end %>

    <div>
      <%= flash[:error] %>
    </div>
  </body>
</html>
